body {
  box-sizing: border-box;
  background-color: whitesmoke;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Courgette", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
.container {
  width: 70%;
}

/* Header */
header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
}

/* Add book button */
button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  font-family: "Courgette", cursive;
  color: rgb(5, 5, 5);
  background: rgb(212, 231, 252);
  outline: none;
  padding: 0.2rem 1rem;
  box-shadow: 0 0.3rem rgba(212, 212, 212, 0.65);
}

button:hover {
  filter: brightness(98%);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

/* Input Form */
.form-container {
  width: 400px;
  max-width: 90%;
  height: 400px;
  background: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(177, 177, 177, 0.4);
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: popup 1s;
}

.form-group {
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.form-group > input {
  margin-top: 5px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px black;
}

.form-group.check {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.form-group.check > input {
  width: 50px;
}

@keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Book Container */
.books-container {
  margin: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  animation: popup 0.5s;
}

.book {
  background-color: white;
  min-height: 300px;
  border-radius: 5%;

  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}

.book-frame {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  align-items: center;
  height: 99%;
  justify-content: space-evenly;
}

.material-icons.md-36 {
  font-size: 36px;
  cursor: pointer;
  border-radius: 50%;
}

.material-icons.md-36:hover {
  background-color: black;
  color: white;
}

/* Toogle Switch */

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle > p {
  margin-right: 10px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch:hover {
  filter: brightness(105%);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  h1 {
    font-size: 1.3rem;
  }

  button {
    font-size: 1rem;
  }
}
