body {
  box-sizing: border-box;
  background-color: whitesmoke;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Courgette", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
.container {
  width: 70%;
}


/* Header */
header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
}

/* Add book button */
.add-book {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2rem;
  border: none;
  border-radius: 10px;
  font-family: "Courgette", cursive;
  color: rgb(5, 5, 5);
  background: rgb(212, 231, 252);
  outline: none;
  padding: 0.2rem 1rem;
  box-shadow: 0 0.3rem rgba(212, 212, 212, 0.65);
}

.add-book:hover {
  filter: brightness(98%);
}

.add-book:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

/* Book Container */
.book-container {
  margin: 1rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book {
  background-color: dodgerblue;
  min-height: 300px;
}

